<%= form_for(@post) do | f | %>
  <div class="field">
    <div class="control">
      <%= f.label :body, class: "label" %>
      <%= f.text_area :body, class: "textarea" %>
    </div>
    <%= render 'partials/input_error', resource: @post, key: :body %>
  </div>
  <%= f.button 'Submit', class: 'button is-danger' %>
<% end %>
